In [1]:
import pandas as pd
import torch

torch.cuda.get_device_name(0)

'NVIDIA GeForce RTX 4080'

In [2]:
file_path_1 = '/home/g/ghanaatian/MYFILES/Projects/Agriculture/TO CARAGEA WORKING 2022_2023 ALL LOC_KPEGG_MULTISPECTRAL_stacked.xls'
sheet_name_1 = 'ALL MULTISPECTRAL'

file_path_2 = '/home/g/ghanaatian/MYFILES/Projects/Agriculture/TO CARAGEA WORKING 2023 ALL LOC_KPEGG_THERMAL_stacked.xlsx'
sheet_name_2 = '2023 thermal data'

multispectral = pd.read_excel(file_path_1, sheet_name=sheet_name_1)
thermal = pd.read_excel(file_path_2, sheet_name=sheet_name_2)

In [24]:
print(multispectral.groupby(['expt', 'plot', 'entry'])['yield'].nunique().all())
print(thermal.groupby(['expt', 'plot', 'entry'])['yield'].nunique().all())

True
True

In [6]:
print(multispectral.groupby(['expt', 'plot', 'entry']).agg({'yield': 'nunique'}).reset_index())
print("*"*50)
print(thermal.groupby(['expt', 'plot', 'entry']).agg({'yield': 'nunique'}).reset_index())

              expt  plot entry  yield
0     22 KPE GG F2  1321   621      1
1     22 KPE GG F2  1322   306      1
2     22 KPE GG F2  1323   146      1
3     22 KPE GG F2  1324   138      1
4     22 KPE GG F2  1325   166      1
...            ...   ...   ...    ...
2636  23 KPE GG F1  1977   318      1
2637  23 KPE GG F1  1978   618      1
2638  23 KPE GG F1  1979   491      1
2639  23 KPE GG F1  1980   621      1
2640   FILLER PLOT     .     .      1

[2641 rows x 4 columns]
**************************************************
              expt  plot entry  yield
0     23 KPE GG AW   661   621      1
1     23 KPE GG AW   662   502      1
2     23 KPE GG AW   663   480      1
3     23 KPE GG AW   664   490      1
4     23 KPE GG AW   665   138      1
...            ...   ...   ...    ...
1976  23 KPE GG F1  1977   318      1
1977  23 KPE GG F1  1978   618      1
1978  23 KPE GG F1  1979   491      1
1979  23 KPE GG F1  1980   621      1
1980   FILLER PLOT     .     .      2

[1981 rows x 4 columns]

In [7]:
multispectral_copy = multispectral.copy()
thermal_copy = thermal.copy()

# sort by expt, plot, entry
multispectral_copy.sort_values(['expt', 'plot', 'entry'], inplace=True)
thermal_copy.sort_values(['expt', 'plot', 'entry'], inplace=True)

In [13]:
# in multispectral and thermal for plot= 1, expt= 23 KPE GG AWD, entry= 621 print all yield values
print(multispectral_copy[(multispectral_copy['plot'] == 1977) & (multispectral_copy['expt'] == '23 KPE GG F1') & (multispectral_copy['entry'] == 318)][['yield']])
print("*"*50)
print(thermal_copy[(thermal_copy['plot'] == 1977) & (thermal_copy['expt'] == '23 KPE GG F1') & (thermal_copy['entry'] == 318)][['yield']])

          yield
656   30.783881
1316  30.783881
1976  30.783881
2636  30.783881
3296  30.783881
3956  30.783881
4616  30.783881
5276  30.783881
5936  30.783881
6596  30.783881
7256  30.783881
7916  30.783881
8576  30.783881
**************************************************
          yield
656   30.783881
1316  30.783881
1976  30.783881
2636  30.783881

In [17]:
print(multispectral_copy[(multispectral_copy['plot'] == 661) & (multispectral_copy['expt'] == '23 KPE GG AW') ][['entry', 'yield']])
print("*"*50)
print(thermal_copy[(thermal_copy['plot'] == 661) & (thermal_copy['expt'] == '23 KPE GG AW') ][['entry', 'yield']])

      entry      yield
9260    621  31.576054
10620   621  31.576054
11980   621  31.576054
13340   621  31.576054
14700   621  31.576054
16060   621  31.576054
17420   621  31.576054
18780   621  31.576054
20140   621  31.576054
21500   621  31.576054
**************************************************
     entry      yield
3320   621  31.576054
4680   621  31.576054
6040   621  31.576054

In [25]:
# MAYBE ONLY plot AND EXPT ARE ENOUGH TO IDENTIFY A UNIQUE ENTRY AND YIELD

print(multispectral_copy.groupby(['expt', 'plot'])['entry'].nunique().all())
print(thermal_copy.groupby(['expt', 'plot'])['entry'].nunique().all())

print(multispectral_copy.groupby(['expt', 'plot'])['yield'].nunique().all())
print(thermal_copy.groupby(['expt', 'plot'])['yield'].nunique().all())

# MAYBE ONLY plot AND EXPT ARE ENOUGH TO IDENTIFY A UNIQUE ENTRY AND YIELD

True
True
True
True

In [34]:
# print yield,plot, expt  for entry 621
print(thermal_copy.loc[thermal_copy['entry'] == 621][['expt', 'plot', 'yield']])

               expt  plot      yield
3320   23 KPE GG AW   661  31.576054
4680   23 KPE GG AW   661  31.576054
6040   23 KPE GG AW   661  31.576054
3541   23 KPE GG AW   882  38.002307
4901   23 KPE GG AW   882  38.002307
6261   23 KPE GG AW   882  38.002307
3762   23 KPE GG AW  1103  48.270324
5122   23 KPE GG AW  1103  48.270324
6482   23 KPE GG AW  1103  48.270324
3979   23 KPE GG AW  1320  39.066174
5339   23 KPE GG AW  1320  39.066174
6699   23 KPE GG AW  1320  39.066174
2640  23 KPE GG AWD     1  14.109207
4000  23 KPE GG AWD     1  14.109207
5360  23 KPE GG AWD     1  14.109207
2861  23 KPE GG AWD   222  10.708277
4221  23 KPE GG AWD   222  10.708277
5581  23 KPE GG AWD   222  10.708277
3082  23 KPE GG AWD   443  17.111549
4442  23 KPE GG AWD   443  17.111549
5802  23 KPE GG AWD   443  17.111549
3299  23 KPE GG AWD   660   15.96098
4659  23 KPE GG AWD   660   15.96098
6019  23 KPE GG AWD   660   15.96098
0      23 KPE GG F1  1321  58.739494
660    23 KPE GG F1  1321  58.739494
1320   23 KPE GG F1  1321  58.739494
1980   23 KPE GG F1  1321  58.739494
221    23 KPE GG F1  1542  58.014429
881    23 KPE GG F1  1542  58.014429
1541   23 KPE GG F1  1542  58.014429
2201   23 KPE GG F1  1542  58.014429
442    23 KPE GG F1  1763  41.523482
1102   23 KPE GG F1  1763  41.523482
1762   23 KPE GG F1  1763  41.523482
2422   23 KPE GG F1  1763  41.523482
659    23 KPE GG F1  1980  24.041117
1319   23 KPE GG F1  1980  24.041117
1979   23 KPE GG F1  1980  24.041117
2639   23 KPE GG F1  1980  24.041117

In [37]:
multispectral_copy.loc[multispectral_copy['entry'] == 621][['expt', 'plot', 'yield']].T

,22180,22840,23500,24160,24820,25480,26140,26800,22401,23061,...,2639,3299,3959,4619,5279,5939,6599,7259,7919,8579
expt,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,22 KPE GG F2,...,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1,23 KPE GG F1
plot,1321,1321,1321,1321,1321,1321,1321,1321,1542,1542,...,1980,1980,1980,1980,1980,1980,1980,1980,1980,1980
yield,40.344068,40.344068,40.344068,40.344068,40.344068,40.344068,40.344068,40.344068,47.070503,47.070503,...,24.041117,24.041117,24.041117,24.041117,24.041117,24.041117,24.041117,24.041117,24.041117,24.041117

In [41]:
# print yield for entry 621, plot 1321
print(multispectral_copy.loc[(multispectral_copy['entry'] == 621) & (multispectral_copy['plot'] == 1321)]['yield'])
print("*"*50)
thermal_copy.loc[(thermal_copy['entry'] == 621) & (thermal_copy['plot'] == 1321)]['yield']

22180    40.344068
22840    40.344068
23500    40.344068
24160    40.344068
24820    40.344068
25480    40.344068
26140    40.344068
26800    40.344068
0        58.739494
660      58.739494
1320     58.739494
1980     58.739494
2640     58.739494
3300     58.739494
3960     58.739494
4620     58.739494
5280     58.739494
5940     58.739494
6600     58.739494
7260     58.739494
7920     58.739494
Name: yield, dtype: object
**************************************************

0       58.739494
660     58.739494
1320    58.739494
1980    58.739494
Name: yield, dtype: object

In [42]:
# entry AND plot ARE NOT UNIQUE TOGETHER

In [ ]:
# different expt and same entry are yield values different?
# diff stage , same (plot, expt, entry) -> yield (ONLY multi spectral data)

# aggreate stage, predict yield 

# merge thermal and multispectral data -> unique plot, expt, entry

'''
for one expt, plot, entry combination, aggregate all the spectral/thermal data and predict yield/maturity 

For one expt, plot, entry, stage (thermal and spectral data available) combination, use directly the data at that stage to predict yield 
	- what stage is most predictive (in other words, gives the smallest RMSE error)?
	

For spectral, we can consider all stages for which we have data and we can see if spectral data by itself at a particular stage can predict yield
'''